@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

 *{
    
    font-family: Montserrat;
  }
  
  .prueba{
    justify-content: center;
    display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 0.2rem;
  }
